

section{
    width: 500px;
    height: 500px;
    background-color: magenta;
}

#rgba{
    width: 50%;
    height: 50%;
    background-color: rgba(55, 9, 155, 0.3);
}

#opacity{
    width: 50%;
    height: 50%;
    background-color: #029d1e;
    opacity: 0.6;
}


/*rbga is a way to format a specific attribute or element selected in that it becomes transparent
note only what is selected with be formated eg the background color while every other thing will
be unaffected. has a value of zero to 1. zero being fully transparent and 1 being not at all transparent.
oh the a in rgba stands for alpha channel.


as for opacity, it is actually an independent property unlike rgba (which is more like the value), 
opacity also does the transparency stuff but in its case everything is affected including the contents 
of what is selected. also has a value from 0-1 similar with rgba and stands fr the same.


position: determines how an element is positioned in a document. it could be sticky, static, fixed, absolute, relative etc
it also establishes how top, right, ledt and bottom works. example below */

nav{
    width: 100px;
    height: 100px;
    background-color: #3d405b;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
}

#sticky #middle {
    background-color: #81b29a;
    position: sticky;
    top: 50px;
}



#absolute #middle {
    background-color: #81b29a;
    position: absolute;
    top: 50px;
    left: 20px;
}

#pparent{
    position:relative;
}

#pparent #middle {
    background-color: #b1b1b1;
    position: fixed;
    top: 5px;
    left: 100px;
}

#relative #middle {
    background-color: #81b29a;
    position: relative;
    top: 110px;
    left: -100px;
}

#static #middle {
    background-color: #81b29a;
    position: static;
    top: 50px;
}

#fixed #middle {
    background-color: beige;
    position: fixed;
    top: 100px;
    left: 50px;
}